	<br/>
	<div class="footer">
		<div class="container">
			<div class="row"> 

				<div class="col-sm-4">
					<h4 data-aos="fade-right" data-aos-duration="2000">Home</h4>
					<h4 data-aos="fade-right" data-aos-duration="2000">About us</h4>
					<h4 data-aos="fade-right" data-aos-duration="2000">Map</h4>
					<h4 data-aos="fade-right" data-aos-duration="2000">Beaches</h4>
					<h4 data-aos="fade-right" data-aos-duration="2000">Contact</h4>
					<h4 data-aos="fade-right" data-aos-duration="2000">Book it</h4>
					<h4 data-aos="fade-right" data-aos-duration="2000">Sing up</h4>
				</div>
				<div class="col-sm-4">

				</div>
				<div class="col-sm-4">
					<br/><br/>
					<img src="images/logo/facebook.png"  id="png" />
					<img src="images/logo/twitter.png"  id="png" />
					<img src="images/logo/instagram.png"  id="png" />

				</div>


			</div>
		</div>

	</div>