

<br/>
		<center><h2 style="color: #191970" id="gallery">Gallery</h2></center>
		<br/><br/>
		<div class="container">
			<div class="row">
			<!-- GALERY OF VILLA. PICTURES AND TEXT -->
				<div class="col-sm-6">
			
				
	<div id="box" class="text" style="background-image: url('images/vila/vila2.jpg')"
			data-aos="fade-in" data-aos-duration="3000"/> 

				<div class="box_toggle" title="Click">
				<b>Villa Lux </b>orem Ipsum is simply dummy text of the 
				 </div>
				<div class="box_text">
				printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived no
				</div>
		<div class="box_gallery">
			<form action="" method="GET">
			<input type="button" class="btn btn-warning" value="Look at the gallery"  
			 onclick="location.href='#'"/>
			</form>
		</div>
				
	<!--		<img src="images/vila/vila1.jpg" class="img-responsive"
		 data-aos="fade-in" data-aos-duration="3000" /> -->
			</div>  	
			 </div>
				 <!-- GALERY OF APARTMENTS. PICTURES AND TEXT -->
				<div class="col-sm-6"> 
					<div id="box" class="text" style="background-image: url('images/apartments/ap1.jpg')"
			data-aos="fade-in" data-aos-duration="3000"/>
				<div class="box_toggle" title="Click">
						<b>Our Apartmants </b>orem Ipsum is simply dummy text of the
						</div>
						<div class="box_text">
							printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived no
						</div>
				<div class="box_gallery">
			<form action="" method="GET">
			<input type="button" class="btn btn-warning" value="Look at the gallery"  
			 onclick="location.href='#'"/>
			</form>
				</div>
					</div>

				</div>



			</div>
		</div>

			<!-- GALERY OF NEARBY BEACHES -->
	    <br/><br/><center><h3 style="color: #191970">Nearby Beaches</h3></center><br/><br/>
		<div class="container">
			<div class="row">


				<!-- GALERY OF TRSTENO. PICTURES AND TEXT -->
			<div class="col-sm-4"> 

				<div id="box" class="text" style="background-image: url('images/trsteno/trsteno1.jpg')"
					data-aos="fade-in" data-aos-duration="3000"/>

				<div class="box_toggle" title="Click">
				<b>TRESTENO </b>orem Ipsum is simply dummy 
				 </div>
				<div class="box_text">
				printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of  
				</div>
				<div class="box_gallery">
			<form action="" method="GET">
			<input type="button" class="btn btn-warning" value="Look at the gallery"  
			 onclick="location.href='#'"/>
			</form>
				</div>

				</div>
			</div>
				 <!-- GALERY OF PLOCE. PICTURES AND TEXT -->
				<div class="col-sm-4">
				<div id="box" class="text" style="background-image: url('images/ploce/ploce2.jpg')"
					data-aos="fade-in" data-aos-duration="3000"/> 
				<div class="box_toggle" title="Click">
				<b> PLOCE </b>orem Ipsum is simply dummy 
				 </div>
				<div class="box_text">
				printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of  
				</div>
				<div class="box_gallery">
			<form action="" method="GET">
			<input type="button" class="btn btn-warning" value="Look at the gallery"  
			 onclick="location.href='#'"/>
			</form>
				</div>				
				</div>
			</div>
				<!-- GALERY OF JAZ. PICTURES AND TEXT -->
				<div class="col-sm-4">
				<div id="box" class="text" style="background-image: url('images/jaz/jaz1.jpg')"
					data-aos="fade-in" data-aos-duration="3000"/> 

					<div class="box_toggle" title="Click">
				<b>JAZ</b> orem Ipsum is simply dummy 
				 </div>
				<div class="box_text">
				printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of  
				</div>
				<div class="box_gallery">
			<form action="" method="GET">
			<input type="button" class="btn btn-warning" value="Look at the gallery"
			onclick="location.href='#'"/>
			</form>
				</div>
				</div>
				</div>
			</div>	
		</div>
				<!-- AOS ANIMATION: FADE-IN FADE-OUT ... -->
			<script src="js/aos/dist/aos.js"></script>
			<script type="text/javascript">
				AOS.init();

			</script>
