<br id="gallery"/>

<center><a href="{{ path('gallery') }}"><h4 id="text1" class="btn btn-default">Take a look at our gallery</h4></a></center>

		<br/>
	<div class="container" >
			<!-- GALERY OF VILLA. PICTURES AND TEXT -->
		<div class="col-sm-6">


		<div id="box" data-aos-duration="3000" data-aos="fade-right">
		<div class="hovereffect">
		<img class="img-responsive" src="images/villa/vila2.jpg"/>
			<div class="overlay"><h4 style="color: white">Villa Lux</h4>
		<a class="info">It is a long established fact that a reader will be distracted by
			the readable content of a page when looking at its layout. The point of
			using Lorem Ipsum is that it has a more-or-less normal distribution of letters ,
			as opposed to using 'Content here, content here', making it look like readable
			English.</a>
		</div>
		</div>




				</div>
			</div>
				 <!-- GALERY OF APARTMENTS. PICTURES AND TEXT -->
		<div class="col-sm-6">
		<div id="box" data-aos="fade-left" data-aos-duration="3000">
		<div class="hovereffect">
		<img class="img-responsive" src="images/apartment/ap6.jpg"/>
		<div class="overlay"><h4 style="color: white">Apartment</h4>
		<a class="info">It is a long established fact that a reader will be distracted by
		the readable content of a page when looking at its layout. The point of
		using Lorem Ipsum is that it has a more-or-less normal distribution of letters ,
		as opposed to using 'Content here, content here', making it look like readable
		English.</a>
		</div>
		</div>
		</div>
		</div>
	</div>


			<!-- GALERY OF NEARBY BEACHES -->
	<div class="container">
				<!-- GALERY OF TRSTENO. PICTURES AND TEXT -->
			<div class="col-sm-4">
			<div id="box" data-aos="fade-left" data-aos-duration="1500">
			<div class="hovereffect">
			<img class="img-responsive" src="images/trsteno/trsteno1.jpg"/>
			<div class="overlay"><h4 style="color: white">Trsteno beach</h4>
			<a class="info">It is a long established fact that a reader will be distracted by
			the readable content of a page when looking at its layout. The point of
			using Lorem Ipsum is that it has a more-or-less normal distribution of letters ,
			as opposed to using 'Content here, content here', making it look like readable
			English.</a>
			</div>
			</div>
			</div>
			</div>
				 <!-- GALERY OF PLOCE. PICTURES AND TEXT -->
			<div class="col-sm-4">
			<div id="box" data-aos="fade-in" data-aos-duration="1500">
			<div class="hovereffect">
			<img class="img-responsive" src="images/ploce/ploce1.jpg"/>
			<div class="overlay"><h4 style="color: white">Ploce beach</h4>
			<a class="info">It is a long established fact that a reader will be distracted by
			the readable content of a page when looking at its layout. The point of
			using Lorem Ipsum is that it has a more-or-less normal distribution of letters ,
			as opposed to using 'Content here, content here', making it look like readable
			English.</a>
			</div>
			</div>
			</div>
			</div>
				<!-- GALERY OF JAZ. PICTURES AND TEXT -->
			<div class="col-sm-4">
			<div id="box" data-aos="fade-right" data-aos-duration="1500">
			<div class="hovereffect">
			<img class="img-responsive" src="images/jaz/jaz1.jpg"/>
			<div class="overlay"><h4 style="color: white">Jaz beach</h4>
			<a class="info">It is a long established fact that a reader will be distracted by
			the readable content of a page when looking at its layout. The point of
		    using Lorem Ipsum is that it has a more-or-less normal distribution of letters ,
			as opposed to using 'Content here, content here', making it look like readable
			English.</a>
			</div>
			</div>
			</div>
			</div>
	</div>
				<!-- AOS ANIMATION: FADE-IN FADE-OUT ... -->
			<script src="js/aos/dist/aos.js"></script>
			<script type="text/javascript">
				AOS.init();

			</script>
