<br/>
<div id="reserve_img">

</div>
<br/>
<div class="parallax-window" data-parallax="scroll" data-image-src="images\slika1.jpeg">
<br/><br/><br/><br/>
    <h3 id="reserveText">Book your apartment in our Villa Lux</h3><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('gallery') }}" class="btn btn-default btnReserve">Book Apartment</a>

</div>
