 <div id="topG">
        <div class="col-sm-2">
            <input type="button" class="btn btn-default" value="Back to homepage"
                   onclick="location.href='{{ path('homepage') }}'"/>
        </div>
        <div class="col-sm-7">
            Phone: +38132223332&nbsp;&nbsp;&nbsp;&nbsp;Fax: +38132223332&nbsp;&nbsp;&nbsp;&nbsp;Email: info@vilalux.net
        </div>
        <div class="col-sm-3"><div class="logo">Villa Lux</div></div>

    </div>

